{% extends "base.html" %}
{% block html-header %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1.1", {packages:["calendar"]});
        function drawAvailableDates(date_data) {
            var dataTable = new google.visualization.DataTable();
            dataTable.addColumn({ type: 'date', id: 'Date' });
            dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
            dataTable.addRows(date_data);
            
            var chart = new google.visualization.Calendar(document.getElementById('availableDates'));
            
            var options = {
            title: "Cached Dates",
            height: 350,
            };
            
            chart.draw(dataTable, options);
        }
    </script>
{% endblock html-header %}
{% block content %}
            <div class="row">
                <h2>Google Analytics</h2>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="availableDates"></div>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="sidebar">
                    
                    <h2 class="top">
                    {% if role == "view" %}
                        Search
                    {% else %}
                        Update
                    {% endif %}
                    </h2>
                    {% if accounts %}
                    Account:<br/><select id="select_account">
                        <option 
                            value="1101211,6392841,8308612,9599997,12430800,16316580,20577364,23584545,24609654,24939159,25741851,26313745,26937129,27826544,28646010,29216021,29240965,29293285,29613651,29952564,29954972,30367743,30689069,30814211,30824274,30922762,30955275,31390202,32988266,35490901,37974452,40997820,44339952,47178210,50261450,53418614">
                            All
                        </option>
                    {% for account in accounts %}
                        <option {% if forloop.first %}SELECTED {% endif %}value="{{account.id}}">{{account.name}}</option>
                    {% endfor %}
                    </select><br/>
                    <!--
                    Metric:<br/>
                    
                    Selection criteria for metrics. Keeping it in case there is
                    ever a need to specify metrics over the default set returned
                    
                    <select id="select_metric">
                        <option value="none">Select...</option>                        
                        <option SELECTED value="sessions">Sessions</option>
                        <option value="organicSearches">Organic Traffic</option>
                        <option value="pageViews">Page Views</option>
                        <option value="users">Unique Visitors</option>
                    </select><br/>
                    
                    -->
                    {% if role == "view" %}
                        Start Date:
                    {% else %}
                        Date to retrieve:
                    {% endif %}
                        <br/><input id="start_date"></input><br/>
                    {% if role != "update" %}
                    End Date:<br/><input id="end_date"</input><br/>
                    {% endif %}
                    <button id="select_account_button" class="primary btn">
                        Get Data
                    </button>
                    </div>
                </div>
                <div class="span8">
                    <div class="sidebar">
                    <h2 class="top">Results</h2>
                    <div id="ajax-busy">
                        <span>Elapsed time: 0 seconds</span>
                        <div class='progress_bar' style=""></div>
                    </div>
                    <div id="ajax_target">
                        <table class='table'>
                            <tr>
                                <th>Profile</th><th>Metric</th>
                            </tr><tr>
                                <td colspan=2 style='height: 200px'>
                                    Use the form to the left to select the data 
                                    you want.
                                </td>
                            </tr>
                        </table>
                    </div>
                    {%else%}
                    <a href="/login">Login with your Google Account</a>
                    {% endif %}
                    {% for ga in ga_data %}
                        {% if forloop.first %}
                        <tr>
                            {% for g,v in ga.items %}<th>{{g}}</th>{%endfor%}
                        </tr>
                        <tr>
                            {% for g,v in ga.items %}<td>{{v}}</td>{%endfor%}
                        </tr>
                        {% else %}
                        <tr>{% for g,v in ga.items %}<td>{{v}}</td>{%endfor%}</tr>
                        {% endif %}
                    {% endfor %}
                    </table>
                    </div>
                </div>
            </div>
            {%endblock%}
            {% block footer-script %}
    <script>    
    $(document).ready(function(){
        //  getGoogleData($("#select_account").val(),$("#select_metric").val());
        $("#start_date,#end_date").datepicker({
            dateFormat: "yy-mm-dd"
            });
        $("#select_account").change(getAvailableDates);
    });
    $("#select_account_button").click(function(){
        getGoogleData();
    })

    function getAvailableDates(){
        acct = $("#select_account").val()
        if (acct.length>10){
            return false;
        }
        $.ajax({
            url: "/account_dates?account="+acct,
            success: function(data){
                date_data = []                
                for(i=0;i<data.dates.length;i++){
                    date_array = data.dates[i][0].split("-")
                    date_obj = new Date(date_array[0],date_array[1]-1,date_array[2])
                    date_data.push([date_obj,data.dates[i][1]]);                    
                }
                //console.log(date_data);
                drawAvailableDates(date_data)
                $("#availableDates").css("width","1000px");
                $("#availableDates").css("height","350px");
            } 
        });
        /*date_data = [
                [ new Date(2012, 3, 13), 37032 ],
                [ new Date(2012, 3, 14), 38024 ],
                [ new Date(2012, 3, 15), 38024 ],
                [ new Date(2012, 3, 16), 38108 ],
                [ new Date(2012, 3, 17), 38229 ],
                // Many rows omitted for brevity.
                [ new Date(2013, 9, 4), 38177 ],
                [ new Date(2013, 9, 5), 38705 ],
                [ new Date(2013, 9, 12), 38210 ],
                [ new Date(2013, 9, 13), 38029 ],
                [ new Date(2013, 9, 19), 38823 ],
                [ new Date(2013, 9, 23), 38345 ],
                [ new Date(2013, 9, 24), 38436 ],
                [ new Date(2013, 9, 30), 38447 ]
            ];
        drawAvailableDates(date_data)
        $("#availableDates").css("width","1000px");
        $("#availableDates").css("height","350px");*/
    }
    
    function getGoogleData(){
        role = "{{role}}";
        acct = $("#select_account").val();
        acct_len = acct.split(",").length
        total_time_est = 20*acct_len;
        time = 0
        ajax_timer = setInterval(function(){
                time++;
                percent = parseInt(time/total_time_est*100)
                if (percent>99) {percent = 99;}
                str = "Elapsed time: "+time+" seconds. Estimate: ("+percent+"%)"
            $("#ajax-busy .progress_bar").css("width",percent+"%")
            $("#ajax-busy span").html(str);        
        },1000)
        metric = $("#select_metric").val();
        
        if(metric=="none"){return false;}
        
        start = $("#start_date").val();
        end = $("#end_date").val();
        date_str = ""
        if (role=="update"){
            ajax_url = "/update_metrics";
            end = start
        }
        if (start!=""){
            date_str+="&start_date="+start;
        }
        
        if (end!=""){
            date_str+="&end_date="+end;
        }
        $("#ajax-busy").show();
        ajax_url = "/gapi";
        
        $.ajax({
            url: ajax_url+"?accounts="+acct+"&metric="+metric+date_str,
            xhrFields:{
                onprogress: function(e){
                    if (e.lengthComputable) { console.log(e.loaded) }
                }
            },
            beforeSend: function(){
                $("#select_account").prop('disabled', true);
                $("#select_metric").prop('disabled', true);
                $("#start_date").prop('disabled', true);
                $("#end_date").prop('disabled', true);
            },
            success: function(data){                
                acct = $("#select_account").val();
                metric = $("#select_metric").val();
                acct_name = $("#select_account option:selected").text();
                metric_name = $("#select_metric option:selected").text();
                
                var m_names = new Array("January", "February", "March", 
                    "April", "May", "June", "July", "August", "September", 
                    "October", "November", "December");
                
                sd = new Date(data[0]['start']+" EDT");                
                start_display = m_names[sd.getMonth()]+" ";
                start_display += sd.getDate()+", ";
                start_display += sd.getFullYear();
                
                ed = new Date(data[0]['end']+" EDT");                
                end_display = m_names[ed.getMonth()]+" ";
                end_display += ed.getDate()+", ";
                end_display += ed.getFullYear();
                
                h_str = "<h3>"+acct_name+" Profiles</h3><h4>"+metric_name+"</h4>";
                h_str+= "<b>"+start_display+"</b> to <b>"+end_display+"</b>";
                h_str+="<table class='table table-striped table-condensed table-bordered'>";
                h_str+="<tr><th>Profile</th><th>URL</th>";
                h_str+= "<th>Sessions</th><th>Unique Users</th>";
                h_str+= "<th>Page Views</th><th>Organic Search Visits</th></tr><tbody>";
                for(i=0;i<data.length;i++){
                    name = data[i]['name'];
                    sessions = data[i]['sessions'];
                    users = data[i]['users'];
                    pageviews = data[i]['pageviews'];
                    organic = data[i]['organic'];
                    //value = data[i][metric]
                    url = data[i]['url'].replace("http://","").replace("/","")
                    h_str+="<tr><td>"+name+"</td>";
                    h_str+="<td><a href='http://"+url+"' target='_blank'>"+url+"</a></td>";
                    h_str+="<td>"+sessions+"</a></td>";
                    h_str+="<td>"+users+"</a></td>";
                    h_str+="<td>"+pageviews+"</a></td>";
                    h_str+="<td>"+organic+"</a></td>";
                    //h_str+="<td>"+value+"</td></tr>";
                }
                h_str += "</tbody></table>";
                $("#ajax_target").html( h_str ) ;
                acct = $("#select_account").prop('disabled', false);
                metric = $("#select_metric").prop('disabled', false);
                $("#start_date").prop('disabled', false);
                $("#end_date").prop('disabled', false);
                $("#ajax-busy").hide();
                $("#ajax-busy span").html("Elapsed time: 0 seconds");
                $("#ajax-busy .progress_bar").css("width","0")
                clearInterval(ajax_timer);
            } 
        });
    }
    </script>
    {% endblock %}
