{% extends "base.html" %}
{% block html-header %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        /*
        // New Accounts by Week (table 17).
        */
        var acct_data = new google.visualization.DataTable();
        acct_data.addColumn('string', 'Week Ending');
        acct_data.addColumn('number', 'New Accounts');
        acct_data.addRows([
            {% if new_accounts %}
                {% for acct in new_accounts %}
                    {% if not forloop.last %}
                    ['{{acct.0}}', {{acct.1}}],                    
                    {% endif %}
                    {% if forloop.last %}
                    ['{{acct.0}}', {{acct.1}}]                    
                    {% endif %}
                {% endfor %}
            {% endif %}
        ]);

        // Set chart options
        var acct_options = {'title':'New Accounts by Week (17)',
                       'width':1000,
                       'height':600};

        // Instantiate and draw our chart, passing in some options.
        var acct_chart = new google.visualization.ColumnChart(document.getElementById('new_accts_chart_div'));
        acct_chart.draw(acct_data, acct_options);


        /*
        // Saved Searches by Group by Week (Table 16)
        */
        var ss_data = new google.visualization.arrayToDataTable([
            {% if saved_schs %}
                    ['week ending','network','redirect','www.my.jobs',{ role: 'annotation' }],
                {% for ss in saved_schs %}
                    {% if not forloop.last %}
                    ['{{ss.0}}', {{ss.1}}, {% if ss.3 %}{{ss.2}}{%else%}0{%endif%},{% if ss.3 %}{{ss.3}}{%else%}{{ss.2}}{%endif%},''],            
                    {% endif %}
                    {% if forloop.last %}
                    ['{{ss.0}}', {{ss.1}}, {% if ss.3 %}{{ss.2}}{%else%}0{%endif%},{% if ss.3 %}{{ss.3}}{%else%}{{ss.2}}{%endif%},''] 
                    {% endif %}
                {% endfor %}
            {% endif %}
        ]);

        // Set chart options
        var ss_options = {'title':'Saved Searches by Group by Week (16)',
                       'width':1000,
                       'height':600,
                        'isStacked':true};

        // Instantiate and draw our chart, passing in some options.
        var ss_chart = new google.visualization.ColumnChart(document.getElementById('saved_schs_grp_chart_div'));
        ss_chart.draw(ss_data, ss_options);

        /*
        // Binary Resumes by Week (Table 15)
        */
        var bin_res_data = new google.visualization.arrayToDataTable([
            {% if binary_resumes %}
                    ['week ending','resume','no resume',{ role: 'annotation' }],
                {% for br in binary_resumes %}
                    {% if not forloop.last %}
                    ['{{br.0}}', {{br.1}}, {{br.2}},''],
                    {% endif %}
                    {% if forloop.last %}
                    ['{{br.0}}', {{br.1}}, {{br.2}},'']
                    {% endif %}
                {% endfor %}
            {% endif %}
        ]);

        // Set chart options
        var bin_res_options = {'title':'Binary Resume Completion by Week (15)',
                       'width':1000,
                       'height':600,
                        'isStacked':true};

        // Instantiate and draw our chart, passing in some options.
        var bin_res_chart = new google.visualization.ColumnChart(document.getElementById('bin_res_chart_div'));
        bin_res_chart.draw(bin_res_data, bin_res_options);

        
        /*
        // Resumes by Week (Table 14)
        */
        var rbw_data = new google.visualization.arrayToDataTable([
            {% if rbw %}
                    ['week ending','1-25','26-50','51-75','76-100',{ role: 'annotation' }],
                {% for br in rbw %}
                    {% if not forloop.last %}
                    ['{{br.0}}', {{br.2}}, {{br.3}},{{br.4}},{{br.5}},''],
                    {% endif %}
                    {% if forloop.last %}
                    ['{{br.0}}', {{br.2}}, {{br.3}},{{br.4}},{{br.5}},'']
                    {% endif %}
                {% endfor %}
            {% endif %}

          //['Pepperoni', 2]
        ]);

        // Set chart options
        var rbw_options = {'title':'Resume Completion by Week (14)',
                       'width':1000,
                       'height':600,
                        'isStacked':true};

        // Instantiate and draw our chart, passing in some options.
        var rbw_chart = new google.visualization.ColumnChart(document.getElementById('rbw_chart_div'));
        rbw_chart.draw(rbw_data, rbw_options);



      }
        
    </script>
    {%endblock%}
    {% block content %}
            <div class="row">
                <h2>My.jobs Accounts</h2>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="rbw_chart_div"></div>
                    <div id="bin_res_chart_div"></div>
                    <div id="saved_schs_grp_chart_div"></div>
                    <div id="new_accts_chart_div"></div>
                </div>
            </div>
            {% endblock %}
            

